@page "/register"

@code{
    private ApplicationUser _model = new();
    private RegisterClass _registerClass = new();

    private MudForm Form = default!;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
    InputType PasswordInput = InputType.Password;
    bool isShow;

    private void ButtonTestclick()
    {
        @if(isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    private async Task OnValidSubmit()
    {
        
    }

    private  class RegisterClass
    {
        public string? Password { get; set; }
        public string? Password2 { get; set; }
    }
}

<MudForm Model="@_model" @ref="@Form" ValidationDelay="0">
    <MudGrid Class="d-flex justify-center flex-grow-1 gap-4">
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Cadastro de Cliente</MudText>
                        <MudButton>
                            <MudStack Row="true">
                                <MudAvatar>
                                    <MudImage Src="@Img64Page.GoogleIcon46x" />
                                </MudAvatar>
                                <MudText Class="mt-2" Typo="Typo.subtitle1">Fazer login utilizando uma conta do google</MudText>
                            </MudStack>
                        </MudButton>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.ChildCare" Size="Size.Large" />
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem lg="6" md="6" xs="12">
                            <MudTextField InputType="InputType.Text" Label="Nome" HelperText="Máx. 8 caracteres" @bind-Value="_model.Record!.RecordName" For="@(() => _model.Record!.RecordName)" />
                        </MudItem>
                        <MudItem lg="6" md="6" xs="12">
                            <MudTextField InputType="InputType.Email" Label="Email" HelperText="Informe seu Email" @bind-Value="_model.Login" For="@(() => _model.Login)" />
                        </MudItem>
                        <MudItem lg="12" md="12" xs="12">
@*                             <Contacts Label="Contato" Variant="Variant.Outlined" @bind-Value="model.Contacts" @ref="contactsComponent" />
 *@                        </MudItem>
                        <MudItem lg="6" md="6" xs="12">
                            <MudTextField Label="Senha" HelperText="Escolha uma senha forte" @bind-Value="_registerClass.Password" For="@(() => _registerClass.Password)"
                                          Immediate="true"
                                          InputType="@PasswordInput"
                                          Adornment="Adornment.End"
                                          AdornmentIcon="@PasswordInputIcon"
                                          OnAdornmentClick="ButtonTestclick"
                                          AdornmentAriaLabel="Exibir a senha" />
                        </MudItem>
                         <MudItem lg="6" md="6" xs="12">
                            <MudTextField Label="Confirmar" HelperText="Repita a senha" @bind-Value="_registerClass.Password2" For="@(() => _registerClass.Password2)" InputType="InputType.Password" />
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-end flex-grow-1 gap-4">
                    <div class="col-5">
                        <MudButton Href="login" Variant="Variant.Text" Color="Color.Info" Class="ml-auto">Login</MudButton>
                        <MudButton OnClick="OnValidSubmit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
                    </div>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudForm>